<div class="container">
  <h5 class="card-title">WELCOME TO FOOD MARKET</h5>
  
  <div class="card-container">
    <!-- <section class="articles">
          <article> -->
    <div class="card">
      <figure>
        <img
          src="https://i.pinimg.com/564x/fd/13/69/fd13698867e26a123d1bb5150436306f.jpg"
          alt=""
        />
      </figure>
      <div class="card-body">
        <h2>FRESH MEAT</h2>
      </div>
    </div>

    <div class="card">
      <figure>
        <img
          src="https://i.pinimg.com/564x/ab/0e/82/ab0e82ae632f841a1dc25ba21494d920.jpg"
          alt=""
        />
      </figure>
      <div class="card-body">
        <h2>DAIRY PRODUCT</h2>
      </div>
    </div>

    <div class="card">
      <figure>
        <img
          src="https://i.pinimg.com/564x/52/f4/b3/52f4b300d1249c63a72ee0f97038ef99.jpg"
          alt=""
        />
      </figure>
      <div class="card-body">
        <h2>FRESHLY BAKED</h2>
      </div>
    </div>
    <!-- </article>
      </section> -->
  </div>

  <div class="parg1">
    <p>
      At FOOD MARKET, we are passionate about delivering fresh, <br />
      high-quality groceries right to your doorstep. <br />
      We understand the importance of healthy and delicious food in your daily
      life, <br />and our mission is to provide a convenient and reliable
      shopping experience for all your grocery needs.
    </p>
  </div>

  <div class="landingPage">
    <div class="container">
      <div
        *ngFor="let product of products.slice(12, 16)"
        class="card"
        style="width: 18rem"
      >
        <div class="imageCover">
          <img [src]="product.image" class="card-img-top" alt="..." />
        </div>

        <div class="card-body">
          <h2 class="title">{{ product.title }}</h2>
          <p>{{ product.price }}</p>
          <p>{{ product.description }}</p>
          <a class="btn" (click)="addToCart(product)">Add to cart</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <a routerLink="/products">View More Products</a>
</div>

<div class="parg">
  <p>
    At FOOD MARKET, we are passionate about delivering fresh, <br />
    high-quality groceries right to your doorstep. <br />
    We understand the importance of healthy and delicious food in your daily
    life,
    <br />and our mission is to provide a convenient and reliable shopping
    experience for all your grocery needs. With a wide selection of locally
    sourced fruits and vegetables, <br />
    produce, dairy products, pantry staples, and much more, <br />
    we strive to cater to all your grocery needs. <br />
    work directly with trusted farmers, suppliers, <br />
    manufacturers to ensure that every item you order meets our strict quality
    standards.
  </p>
</div>

<!-- <app-footer></app-footer> -->
