<nav class="bg-green-700 navBar">
  <div class="innerContent">
    <div class="flex flex-0 items-center justify-center sm:items-stretch sm:justify-start">
      <div class="flex flex-shrink-0 items-center">
        <img class="block h-14 w-auto lg:hidden"
          src="https://i.pinimg.com/564x/b7/1b/a1/b71ba173cf41767e4847b935398cb4ec.jpg" alt="Your Company">
        <img class="hidden h-14 w-auto lg:block rounded-full"
          src="https://i.pinimg.com/564x/b7/1b/a1/b71ba173cf41767e4847b935398cb4ec.jpg" alt="Your Company">
        <p class="text-gray-300 rounded-md px-3 py-3 text-4xl font-medium Logo ">Food Market</p>
      </div>
      <!-- Home, Special -->
      <div class="hideOnSmall">
        <div class="flex space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a routerLink="/products"
            class="no-underline hover:no-underline text-gray-300 hover:bg-green-500 hover:text-white rounded-md px-3 py-4 text-2xl font-medium">Home</a>
          <a href="#" *ngIf="findRoute('/products')"
            class="no-underline hover:no-underline text-gray-300 hover:bg-green-500 hover:text-white rounded-md px-3 py-4 text-2xl font-medium"
            routerLink="/specials">Specials</a>
          <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendar</a> -->

        </div>
      </div>
    </div>


  <!-- <div *ngIf="findRoute('/landing')" class="login">
    <div class="fix">
      <button type="button"
        class="flex rounded-full bg-green-700 text-sm focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 focus:ring-offset-green-700"
        id="user-menu-button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        <img class="h-10 w-10 rounded-full "
          src="https://as1.ftcdn.net/v2/jpg/02/32/71/62/1000_F_232716200_xTsnomMS5djsC6m9cDNQmEKtPgt11Xjo.jpg"
          alt="">
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Register</a></li>
        </ul>
      </button>

    </div>
  </div> -->
  <!-- Cart icon -->
  <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-8 sm:pr-0"
    *ngIf="findRoute('/products') || findRoute('/specials') || findRoute('/cart')||findRoute('/landing')">
    <li class="font-sans block mt-4 lg:inline-block lg:mt-0 lg:ml-6 align-middle text-black hover:text-gray-700">
      <a routerLink="/cart" role="button" class="relative flex w-10 h-10">
        <svg class="flex-2 w-8 h-8 fill-current" viewbox="0 0 26 26">
          <path
            d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
        </svg>
        <span
          class="relative right-1.5 top-0 rounded-full bg-gray-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm  leading-tight text-center">{{cartService.cartItemList.length}}
        </span>
      </a>
    </li>

      <!-- Profile dropdown -->
      <div class="relative ml-3" *ngIf="findRoute('/products') || findRoute('/cart') ||findRoute('/landing')">
        <div>
          <button type="button"
            class="flex rounded-full bg-green-700 text-sm focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 focus:ring-offset-green-700"
            id="user-menu-button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            <img class="h-10 w-10 rounded-full "
              src="https://as1.ftcdn.net/v2/jpg/02/32/71/62/1000_F_232716200_xTsnomMS5djsC6m9cDNQmEKtPgt11Xjo.jpg"
              alt="">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
            </ul>
          </button>

        </div>
      </div>


    </div>
  </div>
</nav>