<div class="card w-20 glass" class="center" ></div>


   <h1> <strong>GROCERI FOOD MARKET</strong></h1> 

   <h2> <strong>ABOUT US</strong> </h2>

   <p>Our store is one of the biggest in South Africa, we pride ourself with good quality and best prices. 
    We have partners that understand our customer needs in terms of delivery, time and excellency.
     Our fruits and vegetables are proudly South African pruduced fresh from local farms and the rest of our products are
     well known quality brands from all over the world.

    <br>
    <br>

     GROCERI FOOD MARKET has a delivery service in all 9 provinces with very low delivery prices depending on ones locatin. We do not outsource our delivery vehicles 
     that's why we always deliver on time. Our customers are our number one priority to ensure this we only use one car or mottor
     bike (depending on the size of each customer's grocery) for each customer.
   </p>





   <div class="card w-25 glass" class="center" ></div>

    <figure><img src="https://i.pinimg.com/564x/d0/fc/1a/d0fc1ac6fc857bf7d0996ad95a795010.jpg" alt="FOOD MARKET"/></figure>
    <div class="card-body">


        <i class="fas fa-phone" class></i>


      </div>