img {
    height: 500px; 
    width: 400px;
    margin-left: 2rem;
    margin-top: -5rem;
    margin-bottom: 15rem;


}

h1{
    margin-bottom: 50px;
    height: 30px; 
    width: 200px;
    margin-left: 2rem;
    margin-top: 7rem;

}
h2{
    margin-bottom: 50px;
    height: 30px; 
    width: 200px;
    margin-left: 550px;
    margin-top: -3rem;
    margin-bottom: 2rem;
    font-size: 2rem;


}

p{
    margin-bottom: 50px;
    height: 30px; 
    width: 600px;
    margin-left: 550px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;

}

i{
    margin-bottom: 50px;
    height: 60px; 
    width: 600px;
    margin-left: 50px;
    margin-top: -20rem;


}