<!-- <!-- <!-- <div class="bg-img">
  <br/>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
  <h2>Register</h2>
  <div>
    <label for="name">First Name:</label>
    <input type="text" id="name" formControlName="firstName" />
    <div *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
      class="mt-3">
      <div *ngIf="form.get('firstName')?.errors?.['required']" class="error">First name is required.</div>
      <div *ngIf="form.get('firstName')?.errors?.['minlength']" class="error">First name should have at least a min of 3
        characters.
      </div>
    </div>
  </div>

  <div class="box">
    <label for="surname">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName" />
    <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)"
      class="mt-3">
      <div *ngIf="form.get('lastName')?.errors?.['required']" class="error">Last name is required.</div>
    </div>
  </div>

  <div class="box">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="mt-3">
      <div *ngIf="form.get('email')?.errors?.['required']" class="error">Email is required.</div>
      <div *ngIf="form.get('email')?.errors?.['email']" class="error">Invalid email format.</div>
    </div>
  </div>

  <div class="box">
    <label for="cellNumber">Contact number:</label>
    <input type="text" id="cellNumber" formControlName="cellNumber" />
    <div *ngIf="form.get('cellNumber')?.invalid && (form.get('cellNumber')?.dirty || form.get('cellNumber')?.touched)"
      class="mt-3">
      <div *ngIf="form.get('cellNumber')?.errors?.['required']" class="error">Contact number is required.</div>
      <div *ngIf="form.get('cellNumber')?.errors?.['pattern']" class="error">Invalid Contact number number format.
      </div>
    </div>
  </div>

  <div class="box">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
      class="mt-3">
      <div *ngIf="form.get('password')?.errors?.['required']" class="error">Password is required.</div>
      <div *ngIf="form.get('password')?.errors?.['minlength']" class="error">Password should have at least 8
        characters.
      </div>
    </div>
  </div>

  <div class="box">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" />
    <div
      *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
      class="mt-3">
      <div *ngIf="form.get('confirmPassword')?.errors?.['required']" class="error">Confirm Password is required.
      </div>
      <div *ngIf="form.get('confirmPassword')?.errors?.['mismatch']" class="error">Passwords do not match</div>
    </div>
  </div>

  <button type="submit"    [disabled]="form?.invalid"><a >Submit</a></button>




  <div class="alert alert-success" role="alert" *ngIf="registered">
    User succefully registered! <a class="anchor" routerLink="/login">Login here</a>
  </div>
  <p>Already have an account? <a href="login" class="anchor">Login</a></p>
</form>
</div> -->

<div class="bg-img">
  <br/>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>Register</h2>
    <!-- First Name -->
    <div>
      <label for="name">First Name:</label>
      <input type="text" id="name" formControlName="firstName" />
      <!-- Validation messages for First Name -->
      <div *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('firstName')?.errors?.['required']" class="error">First name is required.</div>
        <div *ngIf="form.get('firstName')?.errors?.['minlength']" class="error">First name should have at least a min of 3 characters.</div>
      </div>
    </div>

    <!-- Last Name -->
    <div class="box">
      <label for="surname">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" />
      <!-- Validation messages for Last Name -->
      <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('lastName')?.errors?.['required']" class="error">Last name is required.</div>
      </div>
    </div>

    <!-- Email -->
    <div class="box">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <!-- Validation messages for Email -->
      <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="mt-3">
        <div *ngIf="form.get('email')?.errors?.['required']" class="error">Email is required.</div>
        <div *ngIf="form.get('email')?.errors?.['email']" class="error">Invalid email format.</div>
      </div>
    </div>

    <!-- Contact Number -->
    <div class="box">
      <label for="cellNumber">Contact number:</label>
      <input type="text" id="cellNumber" formControlName="cellNumber" />
      <!-- Validation messages for Contact Number -->
      <div *ngIf="form.get('cellNumber')?.invalid && (form.get('cellNumber')?.dirty || form.get('cellNumber')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('cellNumber')?.errors?.['required']" class="error">Contact number is required.</div>
        <div *ngIf="form.get('cellNumber')?.errors?.['pattern']" class="error">Invalid Contact number number format.</div>
      </div>
    </div>

    <!-- Password -->
    <div class="box">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <!-- Validation messages for Password -->
      <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('password')?.errors?.['required']" class="error">Password is required.</div>
        <div *ngIf="form.get('password')?.errors?.['minlength']" class="error">Password should have at least 8 characters.</div>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="box">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      <!-- Validation messages for Confirm Password -->
      <div *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)"
        class="mt-3">
        <div *ngIf="form.get('confirmPassword')?.errors?.['required']" class="error">Confirm Password is required.</div>
        <div *ngIf="form.get('confirmPassword')?.errors?.['mismatch']" class="error">Passwords do not match</div>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="form?.invalid"><a>Submit</a></button>
    
    <!-- Error Message -->
    <div class="alert alert-danger" role="alert" *ngIf="result && isFailed">
      User Already registered!
    </div>
    <!-- Success Message -->
    <div class="alert alert-success" role="alert" *ngIf="result && !isFailed">
      User successfully registered! <a class="anchor" routerLink="/login">Login here</a>
    </div>
    <!-- Login Link -->
    <p>Already have an account? <a href="login" class="anchor">Login</a></p>
  </form>
</div>
