
.container{
  // margin-bottom: 15em;
  height: 100vh;
  background-color: white;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 50px;
  margin-top: 8%;
  border-radius: 10px;
  background:#fff;
  // box-shadow: 5px 5px 0 5px rgba(121, 133, 127, 0.3);
  position: relative;
  top: 40px;
  background-size: cover;
 
}

.bg-img {
  /* The image used */
  background-image: url("https://imageproxy.wolt.com/venue/624eae7755b1f3f0947d6784/33ffad50-bbc5-11ec-8a18-86ad697e14b4_shutterstock_1309113232.jpg");

  /* Control the height of the image */
  height: 110vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5px;
  
}
.alert{
  margin-top: 5px;
}
.achor{
  color: rgb(6, 168, 255);
}.achor:hover{
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(23, 22, 22, 0.419);
  font-size: 16px;
  background-color:white;
  line-height: 5px;
}

[type="submit"] {
  background: #456546;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
  width: 50%;
  margin: auto;
  align-content: center;
  margin-top: 10px;
  
}



input[type="submit"]:hover {
  background: #3e8e41;
  border: none;
  outline: none;

}

.error {
  color: red;
  margin-top: 0.5rem;
}