

    <div class="footer-dark"  *ngIf="findRoute('/login') || findRoute('/register') || findRoute('/products') || findRoute('/specials') || findRoute('/about') ||findRoute('/landing')">
        <footer>
            <div class="container">
                <div class="row">
					<div class="col-md-6 item text">
                        <h3>Get in Touch</h3>
						<ul>
                        <p><i class="fa fa-map-marker-alt me-3"></i> 17 High Street, Sandton, Gauteng></p>
				        <p><i class="fa fa-phone-alt me-3"></i>01 2642 764/02 6734 278</p>
				        <p><i class="fa fa-envelope me-3"></i>shopOnline@foodMarket.co.za</p>
					</ul>	
                    </div>
					<div class="col-sm-6 col-md-3 item">
                        <h3>Get More</h3>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="specials">Specials</a></li>
                            <li><a href="about">About</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Food Market</h3>
                        <ul>
                        <p><a>Make your life easy by shopping with us and get your grocery deliverd to your door, or collect,freshly packed</a></p>   
                        </ul>
                    </div>
                  
                    <div class="col item social"><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-youtube"></i></a></div>
                </div>
                <p class="copyright">Food Market © 2021</p>
            </div>
        </footer>
</div>


